.event-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
  margin: 12px;
}

label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.create-btn {
  text-align: center;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.details-label {
  font-weight: bold;
  font-size: 16px;
  color: red;
  margin-bottom: 5px;
  display: block;
}
.custom-radio input[type="radio"] {
    margin: 8px;
   }
  
  .custom-radio label {
    cursor: pointer;
    margin: 8px;
    padding: 5px;
    
  }
  
  .custom-radio label:hover {
    background-color: #f0f0f0; 
  }
  
  .custom-radio input[type="radio"]:label {
    color: #fff; 
  }
  